@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-size: 1em;
}

.content{
  min-height: calc(100vh - 70px);
}

.footer{
  height: 50px;
}

body {
  background-color: #FFF;
  font-family: 'Merriweather', serif;
}

header {
  color: white;
  padding: 20px;
  background: url('header_bg.png');
  }

header h1{
  position: relative;
  top: 5px;
}

.logo{
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-right: 5px;
  float: left;
}

.profile_link{
  text-decoration: none;
  color: black;
}

.float_left_link:hover{
  color: black;
  text-decoration: underline;
}

.float_right_link{
  float: right;
  text-decoration: none;
  color: black;
}

.float_left_link:hover{
  color: white;
  text-decoration: underline;
}

.float_left_link{
  position: relative;
  text-decoration: none;
  color: white;
}

.float_right_link:hover{
  color: black;
  text-decoration: underline;
}

.welcome_p{
  display: inline;
}

.edit_logo{ 
  display: inline;
  padding-left: 20px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>');
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.edit_logo:hover {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>');
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.view_table, .view_table th, .view_table td{
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.view_table th, .view_table td {
  padding: 0.5em 1em;
}

.view_table{
  width: 100%;
}

.view_table th {
  text-align: center;
  background-color: rgba(	5, 116, 212 ,1);
  color: white;
}

.view_table tr{
  background-color: white;
}

.view_table tr:nth-child(odd){
  background-color: lightgray;
}

.view_table td {
  border-top: 1px solid black;
}

.view_table td::before{
  display: none;
}

.short_cell{
  max-width: 70px;
}

.number_data_cell{
  max-width: 120px;
}

@media screen and (max-width: 800px){
  .view_table table{
    border: 0;
    display: block;
    box-shadow: none;
  }

  .view_table thead{
    position: absolute;
    opacity: 0;
    margin-left: -130vw;
  }

  .view_table tbody{
    display: block;
    min-width: 15em;
  }

  .view_table tr{
    display: block;
    margin-bottom: 1em;
  }

  .view_table td{
    display: flex;
  }

  .view_table td::before{
    display: inline-block;
    margin-right: auto;
    padding-right: 1em;
  }

  .view_table td:last-child{
    border-bottom: 0;
  }

  .short_cell{
    max-width: none;
  }

  .home_choice {
    background-size: contain;
  }
}

.form_container{
  color: white;
  padding: 30px 30px 10px 30px;
  margin: auto;
  width: 40%;
  background-color: rgba(80,80,80,1);
  border-radius: 5px;
  box-shadow: 2px 2px 14px 7px black;
}

.form_container label{
  display: block;
}

.form_container b{
  display: block;
  margin-bottom: 10px;
}

.form_container input{
  display: block;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
}

.pass_rules{
  font-size: small;
}

.p_prompt{
  border: 1px solid red;
  padding: 5px 5px 5px 5px;
}

.home_choice{
  padding: 5px 5px 5px 5px;
  border: 5px solid black;
  height: 50vh;
  width: auto;
  background: no-repeat center;
  background-size: 25%;
}

a.clicable_div{
  display: block;
   height: 100%;
   width: 100%;
   text-decoration: none;
}
