{% extends "MVNSweb/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container" style="width:90%; margin:auto">
        <div class="form_container">
            <a href="{% url 'MVNS-user-list' %}" class="float_left_link">Back</a>
            <legend>
                <center>
                    <h3><b>Register</b></h3>
                </center>
            </legend>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="first_name">First Name:</label>
                {{ registrationForm.first_name }}
                <label for="last_name">Last Name:</label>
                {{ registrationForm.last_name }}
                <label for="username">Username:</label>
                {{ registrationForm.username }}
                <label for="password1">Password:</label>
                {{ registrationForm.password1 }}
                <label for="password2">Confirm Password:</label>
                {{ registrationForm.password2 }}
                <br>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            {{registrationForm.errors}}
            <br>
        </div>
    </div>

{% endblock content %}
